// body
$bodycolor:             #f1f1f1;

// Variables for PasswdGenBox
$darkblue:              #276a7d;
$lightblue:             #82c5d5;
$lightgreen:            #baefd3;
$lightyellow:           #f4e1a9;
$lightgrey:             #d9e8f5;
$labelfontcolor:           #222;
$white:                    #fff;

// For include
$breakpoints: (
  'sm': 320px,
  //'md': 768px,
  'md': 810px,
  'lg': 1024px
);
